@model IEnumerable<Exam2.Data.Entities.Dish>

@{
    ViewData["Title"] = "GetDishesFromRestaurant";
}

<h1>Dishes from restaurant @ViewData["RestaurantName"]</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="AddDish" asp-controller="Admin" asp-route-id="@ViewData["RestaurantId"]">Add dish</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="EditDish" asp-route-id="@item.Id">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-action="DeleteDish" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>